@model TrainingCenterMVC.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
}


<style>

    #form{
        width:700px;
        height:400px;
        background-color:#ddd;
        padding:20px;
        font-size:20px;
    }
    #txt{
        width:400px;
        height:30px;
        border-radius:20px;
        font-size:20px;
    }
</style>

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" ,@id="form"}))
{
    @Html.AntiForgeryToken()
    <h4 style="color:orangered">Reset your password.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Code)
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" ,@id="txt"})
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @id = "txt" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @id = "txt" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <br />
            <input type="submit" class="btn btn-info" value="Reset" style="font-size:30px;text-align:center;margin-left:50px;" />
        </div>
    </div>
}

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
