

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    @*@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />    

    <link href="~/Content/viewcourses/style.css" rel="stylesheet" />
    
     <style>
        
      
      
        #item{
          
            font-size:15px;
            font-weight:bold;
            color:orangered;
        }
       
      #ftco-navbar{
          background-color:#3D5E5E;
         height:60px;
         font-size:40px;
         font-weight:bold;
         color:white;

      }
      .nav-item li{
          color:orangered;
         

      }
    </style>







    <link href="~/Content/Home/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Home/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/Content/Home/css/owl.carousel.css" rel="stylesheet" />
    <link href="~/Content/Home/css/nice-select.css" rel="stylesheet" />
    <link href="~/Content/Home/css/main.css" rel="stylesheet" />
   

</head>
<body>

   








        <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar ftco-bg-dark ftco-navbar-dark" id="ftco-navbar" style="margin-top:0;color:black;font-size:100px;font-weight:bold">

            <div class="container">

                <a class="navbar-brand" style="color:white;font-size:30px;" href="/Home/Index">
                    ITI
                    @*<img src="~/Image/iti.png" height="50"  style="border-radius:20px" />*@

                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="oi oi-menu"></span> Menu
                </button>

                <div class="collapse navbar-collapse navbar navbar-left " id="ftco-nav">
                    <ul class="navbar-nav ml-auto" style="font-size:50px;">
                        <li  class="nav-item" id="item" style="color:orangered"><a href="~/Home/Index" class="nav-link">Home</a></li>
                        <li class="nav-item"><a href="~/Home/ViewCourses" class="nav-link">Courses</a></li>
                        <li class="nav-item"><a href="~/Home/Contact" class="nav-link">Contact</a></li>
                        <li class="nav-item"><a href="~/Home/About" class="nav-link">About</a></li>
                        
                       
                        



                    </ul>


                    @Html.Partial("_LoginPartial")


                </div>


            </div>
        </nav>
    

    
       
    

<br />


    <div class="container">
        <div class="row">

            @RenderBody()

        </div>
    </div>







    

    
   
        <!-- footer -->
   <footer class="footer-area section-gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-6 single-footer-widget">
                    <h4>Top Products</h4>
                    <ul>
                        <li><a href="#">Managed Website</a></li>
                        <li><a href="#">Manage Reputation</a></li>
                        <li><a href="#">Power Tools</a></li>
                        <li><a href="#">Marketing Service</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6 single-footer-widget">
                    <h4>Quick Links</h4>
                    <ul>
                        <li><a href="/Home/Index">Home</a></li>
                        <li><a href="/Home/Contact">Contact</a></li>
                        <li><a href="/Home/About">About</a></li>
                        <li><a href="/Home/ViewCourses">Courses</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6 single-footer-widget">
                    <h4>Features</h4>
                    <ul>
                        <li><a href="#">Learn easily</a></li>
                        <li><a href="#">Best Instructor</a></li>
                        <li><a href="#">Do Project</a></li>
                        <li><a href="#">Help To Work</a></li>
                    </ul>
                </div>
               
                <div class="col-lg-4 col-md-6 single-footer-widget">
                    <h4>Newsletter</h4>
                    <p>You can trust us. we only send promo offers,</p>
                    <div class="form-wrap" id="mc_embed_signup">
                        <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="form-inline" novalidate="true">
                            <input class="form-control" name="EMAIL" placeholder="Your Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email Address '" required="" type="email">
                            <button class="click-btn btn btn-default text-uppercase">subscribe</button>
                            <div style="position: absolute; left: -5000px;">
                                <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                            </div>

                            <div class="info"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="footer-bottom row align-items-center">
                <p class="footer-text m-0 col-lg-8 col-md-12">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright ©
                    <script>document.write(new Date().getFullYear());</script>2019 All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
                <div class="col-lg-4 col-md-12 footer-social">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-behance"></i></a>
                </div>
            </div>
        </div>
    </footer>










    @*<script src="~/Content/Home/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="~/Content/Home/js/vendor/bootstrap.min.js"></script>
    <script src="~/Content/Home/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/Content/Home/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/Home/js/parallax.min.js"></script>
    <script src="~/Content/Home/js/owl.carousel.min.js"></script>
    <script src="~/Content/Home/js/jquery.sticky.js"></script>
    <script src="~/Content/Home/js/hexagons.min.js"></script>
    <script src="~/Content/Home/js/jquery.counterup.min.js"></script>
    <script src="~/Content/Home/js/waypoints.min.js"></script>
    <script src="~/Content/Home/js/jquery.nice-select.min.js"></script>
    <script src="~/Content/Home/js/main.js"></script>*@










    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)*@

        </body>
</html>
